<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tasks List | Task Tracker</title>
</head>
<body>
<div class="container">
  <h1 class="text-center"><i class="bi bi-list-task"></i>&nbsp;Bootstrap: Task Tracker</h1>
  <hr class="border">
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam autem cupiditate ea est facere iste, magni
    molestias nesciunt praesentium quam quidem, ut vel vitae voluptatibus. Delectus eaque optio pariatur.
  </div>
  <button class="btn btn-outline-primary">Button</button>
</div>
</body>
</html>
