<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Task tracker templates package - EDU Python course">
  <meta name="author" content="Serhii Horodilov <sgorodil@gmail.com>">
  <link rel="icon" type="image/svg+xml" href="../img/favicon.svg">
  <link rel="icon" type="image/png" href="../img/favicon.png">
  <title>{{title}} | Task Tracker</title>
</head>
<body>
{{>partials/_navbar is_authenticated=true}}
<div class="container">
  <div class="row row-cols-1 justify-content-center">
    <main class="col col-md-10 col-lg-9">
      {{>partials/list_main}}
    </main>
  </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  {{>partials/_toast
      message="The sea-dog trades with yellow fever, scrape the pacific ocean until it falls."
  }}
  {{>partials/_toast
      message="The pin pulls with life, drink the bikini atoll until it dies."
      class="text-bg-primary"
  }}
  {{>partials/_toast
      message="The lass burns with passion, desire the galley until it travels."
      class="text-bg-secondary"
  }}
  {{>partials/_toast
      message="The grog pulls with amnesty, rob the lighthouse until it stutters."
      class="text-bg-success"
  }}
  {{>partials/_toast
      message="The parrot robs with desolation, crush the bahamas until it screams."
      class="text-bg-warning"
  }}
  {{>partials/_toast
      message="Booty, passion, and madness. The lass robs with faith, break the pacific ocean until it rises."
      class="text-bg-danger"
  }}
  {{>partials/_toast
      message="The bilge rat vandalizes with malaria, lead the fortress before it travels."
      class="text-bg-info"
  }}
</div>
</body>
</html>
