<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Bootstrap templates for a training todo web application">
  <title>Task Tracker</title>
  <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
  <link rel="manifest" href="../img/site.webmanifest">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/tasktracker.min.css">
  <link rel="stylesheet" href="../css/tasktracker.task.min.css">
</head>
<body>

<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid px-5">
    <a href="" class="navbar-brand">
      <img src="../img/favicon-32x32.png" alt="Task Tracker">
      <span class="align-middle">Task Tracker</span>
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar"
            aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a href="" class="nav-link">Sing In</a></li>
        <li class="nav-item"><a href="" class="nav-link">Sing Up</a></li>
        <li class="nav-item"><a href="" class="nav-link">Admin</a></li>
        <li class="nav-item d-sm-inline-block d-lg-none"><a href="" class="nav-link">User Profile</a></li>
        <li class="nav-item d-sm-inline-block d-lg-none"><a href="" class="nav-link">Create Task</a></li>
        <li class="nav-item d-sm-inline-block d-lg-none"><a href="" class="nav-link">Logout</a></li>
        <li class="nav-item dropdown d-none d-lg-inline-block">
          <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://i.pravatar.cc/350?u=598da43b" alt="MB" class="rounded-circle"
                 width="auto" height="32">
            <span class="ms-1">Marmadoc Brockhouse</span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="" class="dropdown-item">User Profile</a></li>
            <li><a href="" class="dropdown-item">Create Task</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="" class="dropdown-item">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="" id="content"> <!-- todo: class="vh-100" -->
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-start h-100">
      <div class="col-12">
        <h1 class="text-center"><i class="bi bi-list-task me-2"></i>Task Tracker Service - Bootstrap Templates</h1>
      </div>
    </div>
  </div>
</div>
<script src="../js/bootstrap.bundle.js"></script>
<script src="../js/tasktracker.task.js"></script>
</body>
</html>
