$list-img-max-size: 5rem;

.task {
  .task-assignee {
    img.avatar {
      max-height: $list-img-max-size;
      max-width: $list-img-max-size;
      margin-bottom: 1rem;
    }
  }

  .task-detail {
    div:first-of-type {
      margin-bottom: 0.5rem;
    }
  }

  .task-actions {
    .disabled {
      pointer-events: none !important;
      color: var(--bs-secondary-color) !important;
    }
  }

  [hx-patch] {
    color: var(--bs-success);
  }

  [hx-delete] {
    color: var(--bs-danger);
  }
}

.task[data-task-completed=true] {
  .task-detail-ref {
    color: var(--bs-secondary-color) !important;
    text-decoration: line-through !important;
  }

  [hx-patch] {
    color: var(--bs-warning)
  }
}
